# 1. Importing libraries

In [1]:
import pandas as pd
import matplotlib as plt

# 2. Importing and Cleaning and Merging of data

##  2.1. Outage data

In [2]:
hv_data = pd.read_csv("hv_data.csv")

C:\Users\komen\AppData\Local\Temp\ipykernel_9908\4208377457.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  hv_data = pd.read_csv("hv_data.csv")

In [3]:
hv_data.head()

,Incident Reporting Year,District Code,District Name,District Group,Incident Reference Number,Incident Date-time,Restoration Date-time,Voltage,Direct Cause,Direct Cause Category,...,Main_Equipment_Involved_2,Main_Equipment_Involved_3,Main_Equipment_Involved_4,Main_Equipment_Involved_5,Main_Equipment_Involved_6,Exceptional Event ID,Exceptional Event Start Date,Exceptional Event EndDate,Grid_ref,geom_wkt
0,1984,16,Manchester,NaN,1,1984-04-01T06:30:00,1984-04-01T06:30:00,6.6,Wind and Gale (excluding Windborne Material),Weather and Environment,...,Above 50Al/32Cu and up to 100Al/70Cu,Copper,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,NaN,NaN
1,1984,16,Manchester,NaN,2,1984-04-03T08:00:00,1984-04-03T08:00:00,6.6,Deterioration due to Ageing or Wear (excluding...,Companies,...,Outdoor Ground Mounted,At grid or primary S/S - Double,Oil,NaN,NaN,0,NaN,NaN,NaN,NaN
2,1984,16,Manchester,NaN,4,1984-04-11T19:13:00,1984-04-11T19:13:00,6.6,Lightning,Weather and Environment,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,1984,16,Manchester,NaN,5,1984-04-11T19:13:00,1984-04-11T19:13:00,6.6,Lightning,Weather and Environment,...,Above 25Al/16Cu and up to 50Al/32Cu,Copper,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,NaN,NaN
4,1984,16,Manchester,NaN,6,1984-04-11T21:40:00,1984-04-11T21:40:00,6.6,Extension of Fault Zone due to Fault Switching...,Companies,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

In [4]:
hv_data.shape

(84731, 27)

In [5]:
hv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84731 entries, 0 to 84730
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Incident Reporting Year       84731 non-null  int64
 1   District Code                 84731 non-null  int64
 2   District Name                 84731 non-null  object
 3   District Group                67675 non-null  object
 4   Incident Reference Number     84731 non-null  int64
 5   Incident Date-time            84730 non-null  object
 6   Restoration Date-time         84729 non-null  object
 7   Voltage                       84731 non-null  object
 8   Direct Cause                  84731 non-null  object
 9   Direct Cause Category         84693 non-null  object
 10  Customer Affected             84731 non-null  int64
 11  Incident Duration             84731 non-null  int64
 12  Total Customer Minutes Lost   84731 non-null  int64
 13  Primary Substation            84731 non-null  object
 14  Circuit                       51114 non-null  object
 15  Circuit Name                  7305 non-null   object
 16  Main_Equipment_Involved_1     84731 non-null  object
 17  Main_Equipment_Involved_2     81293 non-null  object
 18  Main_Equipment_Involved_3     79325 non-null  object
 19  Main_Equipment_Involved_4     79034 non-null  object
 20  Main_Equipment_Involved_5     28218 non-null  object
 21  Main_Equipment_Involved_6     36365 non-null  object
 22  Exceptional Event ID          84731 non-null  int64
 23  Exceptional Event Start Date  2715 non-null   object
 24  Exceptional Event EndDate     2715 non-null   object
 25  Grid_ref                      49973 non-null  object
 26  geom_wkt                      80286 non-null  object
dtypes: int64(7), object(20)
memory usage: 17.5+ MB

In [6]:
hv_132 = pd.read_csv("hv_132kw.csv")

In [7]:
hv_132.head()

,Incident Reporting Year,District Code,District Name,District Group,Incident Reference Number,Incident Date-time,Restoration Date-time,Voltage,Direct Cause,Direct Cause Category,...,Main_Equipment_Involved_2,Main_Equipment_Involved_3,Main_Equipment_Involved_4,Main_Equipment_Involved_5,Main_Equipment_Involved_6,Exceptional Event ID,Exceptional Event Start Date,Exceptional Event EndDate,Grid_ref,geom_wkt
0,2000,41,Preston,4 Preston,5,2000-05-11T14:00:00,2000-05-11T14:00:00,132,Operational or Safety Restriction,Companies,...,On Switchgear but affecting the busbar,Circuit Breakers: Voltage sensitive auto-reclo...,Oil,NaN,NaN,0,NaN,NaN,NaN,POINT (335512.12 432132.5)
1,2000,63,Carlisle,6 Carlisle,17,2000-08-25T05:44:00,2000-08-25T05:44:00,132,Lightning,Weather and Environment,...,Heavy (csa greater than 175mm sq. Al. equivalent),Steel Tower: Double Circuit,NaN,NaN,NaN,0,NaN,NaN,NaN,POINT (338288.47 561159.56)
2,2001,16,Manchester,1 Manchester,2,2001-04-09T05:59:00,2001-04-09T05:59:00,132,Cause Unknown,Unclassified or Unknown,...,Heavy (csa greater than 175mm sq. Al. equivalent),Steel Tower: Double Circuit,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,2001,63,Carlisle,6 Carlisle,29,2001-12-29T23:02:00,2001-12-29T23:02:00,132,Cause Unknown,Unclassified or Unknown,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,POINT (338288.47 561159.56)
4,2001,63,Carlisle,6 Carlisle,38,2002-02-06T10:38:00,2002-02-06T13:26:00,132,Deterioration due to Ageing or Wear (excluding...,Companies,...,On Busbar,Busbar only,None (busbar or fault throwing switch),NaN,NaN,0,NaN,NaN,NaN,POINT (303155.62 504214.53)

In [8]:
hv_132.shape

(89, 27)

In [9]:
hv_132.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Incident Reporting Year       89 non-null     int64
 1   District Code                 89 non-null     int64
 2   District Name                 89 non-null     object
 3   District Group                89 non-null     object
 4   Incident Reference Number     89 non-null     int64
 5   Incident Date-time            89 non-null     object
 6   Restoration Date-time         89 non-null     object
 7   Voltage                       89 non-null     int64
 8   Direct Cause                  89 non-null     object
 9   Direct Cause Category         89 non-null     object
 10  Customer Affected             89 non-null     int64
 11  Incident Duration             89 non-null     int64
 12  Total Customer Minutes Lost   89 non-null     int64
 13  Primary Substation            89 non-null     int64
 14  Circuit                       0 non-null      float64
 15  Circuit Name                  0 non-null      float64
 16  Main_Equipment_Involved_1     89 non-null     object
 17  Main_Equipment_Involved_2     70 non-null     object
 18  Main_Equipment_Involved_3     45 non-null     object
 19  Main_Equipment_Involved_4     16 non-null     object
 20  Main_Equipment_Involved_5     14 non-null     object
 21  Main_Equipment_Involved_6     0 non-null      float64
 22  Exceptional Event ID          89 non-null     int64
 23  Exceptional Event Start Date  9 non-null      object
 24  Exceptional Event EndDate     9 non-null      object
 25  Grid_ref                      70 non-null     object
 26  geom_wkt                      85 non-null     object
dtypes: float64(3), int64(9), object(15)
memory usage: 18.9+ KB

### i. Concatenating all HV data

In [10]:
hv_data_raw = pd.concat([hv_data, hv_132], ignore_index=True)

In [11]:
hv_data_raw.shape

(84820, 27)

### ii. Dealing with duplicated values

In [12]:
hv_data_raw.duplicated().value_counts()

False    84801
True        19
Name: count, dtype: int64

In [13]:
hv_data_raw[hv_data_raw.duplicated(keep=False) == True]

,Incident Reporting Year,District Code,District Name,District Group,Incident Reference Number,Incident Date-time,Restoration Date-time,Voltage,Direct Cause,Direct Cause Category,...,Main_Equipment_Involved_2,Main_Equipment_Involved_3,Main_Equipment_Involved_4,Main_Equipment_Involved_5,Main_Equipment_Involved_6,Exceptional Event ID,Exceptional Event Start Date,Exceptional Event EndDate,Grid_ref,geom_wkt
44105,2006,21,Bolton,3 Bolton,100238,2006-12-29T09:14:00,2006-12-29T09:14:00,6.6,NONE,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,SD55650225,POINT (355650 402250)
44106,2006,21,Bolton,3 Bolton,100238,2006-12-29T09:14:00,2006-12-29T09:14:00,6.6,NONE,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,SD55650225,POINT (355650 402250)
44545,2006,32,Ashton,2 Ashton,100314,2007-01-09T16:11:00,2007-01-09T16:11:00,6.6,NONE,NaN,...,Pillar Unit or Cubicle (fusegear only),Not at Grid or Primary S/S,Compound,NaN,Air,0,NaN,NaN,SD93140664,POINT (393140 406640)
44546,2006,32,Ashton,2 Ashton,100314,2007-01-09T16:11:00,2007-01-09T16:11:00,6.6,NONE,NaN,...,Pillar Unit or Cubicle (fusegear only),Not at Grid or Primary S/S,Compound,NaN,Air,0,NaN,NaN,SD93140664,POINT (393140 406640)
45936,2006,63,Carlisle,6 Carlisle,100147,2006-07-19T20:53:00,2006-07-19T20:53:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,Up to 0.7,NaN,0,NaN,NaN,NY82641482,POINT (382640 514820)
45937,2006,63,Carlisle,6 Carlisle,100147,2006-07-19T20:53:00,2006-07-19T20:53:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,Up to 0.7,NaN,0,NaN,NaN,NY82641482,POINT (382640 514820)
46535,2007,21,Bolton,3 Bolton,100052,2007-06-13T08:21:00,2007-06-13T08:21:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD69150157,POINT (369150 401570)
46536,2007,21,Bolton,3 Bolton,100052,2007-06-13T08:21:00,2007-06-13T08:21:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD69150157,POINT (369150 401570)
46845,2007,32,Ashton,2 Ashton,100002,2007-04-04T07:28:00,2007-04-04T07:28:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SJ83317184,POINT (383310 371840)
46846,2007,32,Ashton,2 Ashton,100002,2007-04-04T07:28:00,2007-04-04T07:28:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SJ83317184,POINT (383310 371840)
46857,2007,32,Ashton,2 Ashton,100014,2007-04-11T08:33:00,2007-04-11T08:55:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SJ89268347,POINT (389260 383470)
46858,2007,32,Ashton,2 Ashton,100014,2007-04-11T08:33:00,2007-04-11T08:55:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SJ89268347,POINT (389260 383470)
46970,2007,32,Ashton,2 Ashton,100127,2007-07-11T12:02:00,2007-07-11T12:02:00,11,NONE,NaN,...,Above 50Al/32Cu and up to 100Al/70Cu,Copper,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SJ94098228,POINT (394090 382280)
46971,2007,32,Ashton,2 Ashton,100127,2007-07-11T12:02:00,2007-07-11T12:02:00,11,NONE,NaN,...,Above 50Al/32Cu and up to 100Al/70Cu,Copper,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SJ94098228,POINT (394090 382280)
46990,2007,32,Ashton,2 Ashton,100147,2007-08-03T06:58:00,2007-08-03T06:58:00,11,NONE,NaN,...,Above 50Al/32Cu and up to 100Al/70Cu,Copper,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SK07387417,POINT (407380 374170)
46991,2007,32,Ashton,2 Ashton,100147,2007-08-03T06:58:00,2007-08-03T06:58:00,11,NONE,NaN,...,Above 50Al/32Cu and up to 100Al/70Cu,Copper,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SK07387417,POINT (407380 374170)
47018,2007,32,Ashton,2 Ashton,100174,2007-09-09T19:11:00,2007-09-09T19:11:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SJ98438410,POINT (398430 384100)
47019,2007,32,Ashton,2 Ashton,100174,2007-09-09T19:11:00,2007-09-09T19:11:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SJ98438410,POINT (398430 384100)
47213,2007,32,Ashton,2 Ashton,100390,2008-03-27T10:51:00,2008-03-27T10:51:00,LV,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD87781787,POINT (387780 417870)
47214,2007,32,Ashton,2 Ashton,100390,2008-03-27T10:51:00,2008-03-27T10:51:00,LV,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD87781787,POINT (387780 417870)
47247,2007,41,Preston,4 Preston,100014,2007-04-19T08:51:00,2007-04-19T08:51:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD38992089,POINT (338990 420890)
47248,2007,41,Preston,4 Preston,100014,2007-04-19T08:51:00,2007-04-19T08:51:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD38992089,POINT (338990 420890)
47348,2007,41,Preston,4 Preston,100116,2007-08-14T18:12:00,2007-08-14T19:46:00,11,NONE,NaN,...,Outdoor Ground Mounted,Not at Grid or Primary S/S,Oil,NaN,Oil,0,NaN,NaN,SD60911506,POINT (360910 415060)
47349,2007,41,Preston,4 Preston,100116,2007-08-14T18:12:00,2007-08-14T19:46:00,11,NONE,NaN,...,Outdoor Ground Mounted,Not at Grid or Primary S/S,Oil,NaN,Oil,0,NaN,NaN,SD60911506,POINT (360910 415060)
47518,2007,41,Preston,4 Preston,100295,2008-03-15T02:37:00,2008-03-15T02:37:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,0.71 to 0.9,3 conductors,0,NaN,NaN,SD46171751,POINT (346170 417510)
47519,2007,41,Preston,4 Preston,100295,2008-03-15T02:37:00,2008-03-15T02:37:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,0.71 to 0.9,3 conductors,0,NaN,NaN,SD46171751,POINT (346170 417510)
47831,2007,61,Kendal,5 Kendal,100096,2007-06-22T17:56:00,2007-06-22T17:56:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD30948318,POINT (330940 483180)
47832,2007,61,Kendal,5 Kendal,100096,2007-06-22T17:56:00,2007-06-22T17:56:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD30948318,POINT (330940 483180)
47945,2007,61,Kendal,5 Kendal,100210,2007-10-06T09:22:00,2007-10-06T09:22:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD26456877,POINT (326450 468770)
47946,2007,61,Kendal,5 Kendal,100210,2007-10-06T09:22:00,2007-10-06T09:22:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD26456877,POINT (326450 468770)
47947,2007,61,Kendal,5 Kendal,100211,2007-10-06T11:13:00,2007-10-06T11:13:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD40424300,POINT (340420 443000)
47948,2007,61,Kendal,5 Kendal,100211,2007-10-06T11:13:00,2007-10-06T11:13:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,SD40424300,POINT (340420 443000)
48261,2007,63,Carlisle,6 Carlisle,100065,2007-05-31T22:50:00,2007-05-31T22:50:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,NY54257352,POINT (354250 573520)
48262,2007,63,Carlisle,6 Carlisle,100065,2007-05-31T22:50:00,2007-05-31T22:50:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,NY54257352,POINT (354250 573520)
48290,2007,63,Carlisle,6 Carlisle,100093,2007-06-22T18:41:00,2007-06-22T18:41:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,NY51221312,POINT (351220 513120)
48291,2007,63,Carlisle,6 Carlisle,100093,2007-06-22T18:41:00,2007-06-22T18:41:00,11,NONE,NaN,...,Above 25Al/16Cu and up to 50Al/32Cu,Aluminium,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,NY51221312,POINT (351220 513120)
48381,2007,63,Carlisle,6 Carlisle,100184,2007-08-31T17:06:00,2007-08-31T17:06:00,11,NONE,NaN,...,Pole or Structure Mounted,Not at Grid or Primary S/S,Compound,NaN,Air-blast,0,NaN,NaN,NY49585696,POINT (349580 556960)
48382,2007,63,Carlisle,6 Carlisle,100184,2007-08-31T17:06:00,2007-08-31T17:06:00,11,NONE,NaN,...,Pole or Structure Mounted,Not at Grid or Primary S/S,Compound,NaN,Air-blast,0,NaN,NaN,NY49585696,POINT (349580 556960)

In [14]:
hv_data_raw = hv_data_raw.drop_duplicates()

In [15]:
hv_data_raw.head()

,Incident Reporting Year,District Code,District Name,District Group,Incident Reference Number,Incident Date-time,Restoration Date-time,Voltage,Direct Cause,Direct Cause Category,...,Main_Equipment_Involved_2,Main_Equipment_Involved_3,Main_Equipment_Involved_4,Main_Equipment_Involved_5,Main_Equipment_Involved_6,Exceptional Event ID,Exceptional Event Start Date,Exceptional Event EndDate,Grid_ref,geom_wkt
0,1984,16,Manchester,NaN,1,1984-04-01T06:30:00,1984-04-01T06:30:00,6.6,Wind and Gale (excluding Windborne Material),Weather and Environment,...,Above 50Al/32Cu and up to 100Al/70Cu,Copper,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,NaN,NaN
1,1984,16,Manchester,NaN,2,1984-04-03T08:00:00,1984-04-03T08:00:00,6.6,Deterioration due to Ageing or Wear (excluding...,Companies,...,Outdoor Ground Mounted,At grid or primary S/S - Double,Oil,NaN,NaN,0,NaN,NaN,NaN,NaN
2,1984,16,Manchester,NaN,4,1984-04-11T19:13:00,1984-04-11T19:13:00,6.6,Lightning,Weather and Environment,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,1984,16,Manchester,NaN,5,1984-04-11T19:13:00,1984-04-11T19:13:00,6.6,Lightning,Weather and Environment,...,Above 25Al/16Cu and up to 50Al/32Cu,Copper,Single Circuit - Horizontal,NaN,NaN,0,NaN,NaN,NaN,NaN
4,1984,16,Manchester,NaN,6,1984-04-11T21:40:00,1984-04-11T21:40:00,6.6,Extension of Fault Zone due to Fault Switching...,Companies,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

### iii. Checking NA values

In [16]:
hv_data_raw.shape

(84801, 27)

In [17]:
hv_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84801 entries, 0 to 84819
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Incident Reporting Year       84801 non-null  int64
 1   District Code                 84801 non-null  int64
 2   District Name                 84801 non-null  object
 3   District Group                67745 non-null  object
 4   Incident Reference Number     84801 non-null  int64
 5   Incident Date-time            84800 non-null  object
 6   Restoration Date-time         84799 non-null  object
 7   Voltage                       84801 non-null  object
 8   Direct Cause                  84801 non-null  object
 9   Direct Cause Category         84782 non-null  object
 10  Customer Affected             84801 non-null  int64
 11  Incident Duration             84801 non-null  int64
 12  Total Customer Minutes Lost   84801 non-null  int64
 13  Primary Substation            84801 non-null  object
 14  Circuit                       51095 non-null  object
 15  Circuit Name                  7305 non-null   object
 16  Main_Equipment_Involved_1     84801 non-null  object
 17  Main_Equipment_Involved_2     81345 non-null  object
 18  Main_Equipment_Involved_3     79352 non-null  object
 19  Main_Equipment_Involved_4     79032 non-null  object
 20  Main_Equipment_Involved_5     28230 non-null  object
 21  Main_Equipment_Involved_6     36361 non-null  object
 22  Exceptional Event ID          84801 non-null  int64
 23  Exceptional Event Start Date  2724 non-null   object
 24  Exceptional Event EndDate     2724 non-null   object
 25  Grid_ref                      50024 non-null  object
 26  geom_wkt                      80352 non-null  object
dtypes: int64(7), object(20)
memory usage: 18.1+ MB

In [18]:
# This just means that the missing District group are for years where there was no such thing
# So it is fine
hv_data_raw[hv_data_raw["District Group"].isna()]["Incident Reporting Year"].unique()

array([1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992], dtype=int64)

In [19]:
# There was only one missing datetime
hv_data_raw = hv_data_raw[hv_data_raw["Incident Date-time"].isna() != True]

In [20]:
hv_data_raw.shape

(84800, 27)

In [21]:
# There were 19 rows without cause
hv_data_raw = hv_data_raw[hv_data_raw["Direct Cause Category"].isna() != True]

In [22]:
hv_data_raw.shape

(84781, 27)

In [23]:
# Circuit is not that important so it's fine

### iiii. Reducing and renaming HV data

In [24]:
hv_data_red1 = hv_data_raw[["Incident Reporting Year", "District Name", "Incident Date-time",
                "Direct Cause", "Direct Cause Category", "Incident Duration", "Exceptional Event ID",
                 "Exceptional Event Start Date", "Exceptional Event EndDate", "Customer Affected"]]

In [25]:
hv_data_red1 = hv_data_red1.rename(columns = {"Incident Reporting Year":"Year", "District Name":"Location",
                                              "Incident Date-time":"Datetime", "Incident Duration":"Duration"})

In [26]:
hv_data_red1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84781 entries, 0 to 84819
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          84781 non-null  int64
 1   Location                      84781 non-null  object
 2   Datetime                      84781 non-null  object
 3   Direct Cause                  84781 non-null  object
 4   Direct Cause Category         84781 non-null  object
 5   Duration                      84781 non-null  int64
 6   Exceptional Event ID          84781 non-null  int64
 7   Exceptional Event Start Date  2724 non-null   object
 8   Exceptional Event EndDate     2724 non-null   object
 9   Customer Affected             84781 non-null  int64
dtypes: int64(4), object(6)
memory usage: 7.1+ MB

### iiiii. Exporting the data as csv

In [27]:
hv_data_red1.to_csv("EDA_final_data.csv", index=False)

## 2.2. Weather data

In [28]:
# Carlisle weather data from 2010-01-01 to 2014-12-31
carlisle_1 = pd.read_csv("carlisle_2010-01-01_to_2014-12-31.csv")

In [29]:
carlisle_1

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,carlisle,2010-01-01T00:00:00,-2.8,-7.4,-2.9,99.03,0.0,0,NaN,0.17,...,1008.5,30.5,26.9,0.0,0.0,0,NaN,Partially cloudy,snow,"03212099999,03225099999,03162099999,0322009999..."
1,carlisle,2010-01-01T01:00:00,-2.3,-6.5,-2.6,97.63,0.0,0,NaN,0.17,...,1008.4,11.7,24.6,0.0,0.0,0,NaN,Clear,snow,"03212099999,03225099999,03162099999,0322009999..."
2,carlisle,2010-01-01T02:00:00,0.1,-3.8,0.0,99.62,0.0,0,NaN,0.17,...,1008.0,87.7,3.4,0.0,0.0,0,NaN,Partially cloudy,snow,"03212099999,03225099999,03162099999,0322009999..."
3,carlisle,2010-01-01T03:00:00,-0.2,-3.6,-0.4,98.26,0.0,0,NaN,0.17,...,1008.0,88.7,25.8,0.0,0.0,0,NaN,Partially cloudy,snow,"03212099999,03225099999,03162099999,0322009999..."
4,carlisle,2010-01-01T04:00:00,-1.0,-4.4,-1.2,98.19,0.0,0,NaN,0.17,...,1007.8,12.1,25.6,0.0,0.0,0,NaN,Clear,snow,"03212099999,03225099999,03162099999,0322009999..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,carlisle,2014-12-31T19:00:00,9.7,9.7,7.8,87.88,0.0,0,NaN,0.00,...,1021.3,99.8,56.9,0.0,0.0,0,NaN,Overcast,cloudy,"03212099999,03225099999,03162099999,0322009999..."
43820,carlisle,2014-12-31T20:00:00,9.5,9.5,7.8,88.94,0.0,0,NaN,0.00,...,1021.1,90.0,57.0,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
43821,carlisle,2014-12-31T21:00:00,9.7,9.7,8.3,90.68,0.0,0,NaN,0.00,...,1020.9,90.1,52.1,0.0,0.0,0,NaN,Overcast,cloudy,"03212099999,03225099999,03162099999,0322009999..."
43822,carlisle,2014-12-31T22:00:00,10.7,10.7,10.0,95.38,0.0,0,NaN,0.00,...,1020.6,80.4,5.2,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
43823,carlisle,2014-12-31T23:00:00,10.9,10.9,10.2,95.38,0.0,0,NaN,0.00,...,1020.6,80.2,16.4,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."

In [30]:
# Carlisle weather data from 2015-01-01 to 2019-12-31
carlisle_2 = pd.read_csv("carlisle_2015-01-01_to_2019-12-31.csv")

In [31]:
carlisle_2

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,carlisle,2015-01-01T00:00:00,9.0,9.0,9.0,99.71,2.221,100,rain,0.0,...,1020.3,89.6,4.0,0.0,0.0,0,NaN,"Rain, Partially cloudy",rain,"03212099999,03225099999,03162099999,0322009999..."
1,carlisle,2015-01-01T01:00:00,8.8,8.8,8.8,99.63,0.000,0,NaN,0.0,...,1020.5,99.1,2.2,0.0,0.0,0,NaN,Overcast,cloudy,"03212099999,03225099999,03162099999,0322009999..."
2,carlisle,2015-01-01T02:00:00,9.6,9.6,9.6,99.69,0.000,0,NaN,0.0,...,1020.7,80.5,61.4,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
3,carlisle,2015-01-01T03:00:00,9.6,9.6,9.1,96.47,0.000,0,NaN,0.0,...,1020.2,14.5,43.4,0.0,0.0,0,NaN,Clear,clear-night,"03212099999,03225099999,03162099999,0322009999..."
4,carlisle,2015-01-01T04:00:00,10.3,10.3,9.5,95.12,0.000,0,NaN,0.0,...,1020.8,13.0,25.5,0.0,0.0,0,NaN,Clear,clear-night,"03212099999,03225099999,03162099999,0322009999..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,carlisle,2019-12-31T19:00:00,2.0,0.2,0.6,90.55,0.000,0,NaN,0.0,...,1032.7,30.0,15.0,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
43820,carlisle,2019-12-31T20:00:00,0.0,-1.5,-0.9,93.64,0.000,0,NaN,0.0,...,1032.3,71.0,15.1,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
43821,carlisle,2019-12-31T21:00:00,-1.1,-3.6,-1.6,96.08,0.000,0,NaN,0.0,...,1031.8,63.6,14.9,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
43822,carlisle,2019-12-31T22:00:00,-0.5,-4.5,-0.8,97.96,0.000,0,NaN,0.0,...,1031.4,90.0,15.5,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
43823,carlisle,2019-12-31T23:00:00,-1.0,-5.6,-1.3,97.44,0.000,0,NaN,0.0,...,1031.0,100.0,23.6,0.0,0.0,0,NaN,Overcast,cloudy,"03212099999,03225099999,03162099999,0322009999..."

In [32]:
# Carlisle weather data from 2020-01-01 to 2023-11-30
carlisle_3 = pd.read_csv("carlisle_2020-01-01_to_2023-11-30.csv")

In [33]:
carlisle_3

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,carlisle,2020-01-01T00:00:00,-0.2,-4.3,-0.7,96.23,0.0,0,NaN,0.0,...,1030.7,63.8,7.8,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
1,carlisle,2020-01-01T01:00:00,2.1,-0.7,1.7,97.05,0.0,0,NaN,0.0,...,1030.3,89.5,13.2,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"03212099999,03225099999,03162099999,0322009999..."
2,carlisle,2020-01-01T02:00:00,0.3,-2.9,-0.2,96.32,0.0,0,NaN,0.0,...,1029.7,90.2,10.3,0.0,0.0,0,NaN,Overcast,cloudy,"03212099999,03225099999,03162099999,0322009999..."
3,carlisle,2020-01-01T03:00:00,1.8,-1.5,1.4,97.75,0.0,0,NaN,0.0,...,1029.4,99.8,11.8,0.0,0.0,0,NaN,Overcast,cloudy,"03212099999,03225099999,03162099999,0322009999..."
4,carlisle,2020-01-01T04:00:00,1.3,-2.3,1.0,97.55,0.0,0,NaN,0.0,...,1029.0,100.0,12.7,0.0,0.0,0,NaN,Overcast,cloudy,"03212099999,03225099999,03162099999,0322009999..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34315,carlisle,2023-11-30T19:00:00,-1.0,-3.4,-1.9,93.31,0.0,0,NaN,0.0,...,1008.8,2.6,30.8,0.0,0.0,0,10.0,Clear,clear-night,"03212099999,D2342,03225099999,03162099999,0322..."
34316,carlisle,2023-11-30T20:00:00,-1.2,-3.2,-1.9,94.79,0.0,0,NaN,0.0,...,1009.1,1.7,35.8,0.0,0.0,0,10.0,Clear,clear-night,"03212099999,D2342,03225099999,03162099999,0322..."
34317,carlisle,2023-11-30T21:00:00,-1.7,-3.7,-2.5,94.18,0.0,0,NaN,0.0,...,1009.3,0.8,25.5,0.0,0.0,0,10.0,Clear,clear-night,"03212099999,D2342,03225099999,03162099999,0322..."
34318,carlisle,2023-11-30T22:00:00,-2.0,-2.0,-2.7,94.93,0.0,0,NaN,0.0,...,1009.3,2.6,18.6,0.0,0.0,0,10.0,Clear,clear-night,"03212099999,D2342,03225099999,03162099999,0322..."
34319,carlisle,2023-11-30T23:00:00,-2.7,-5.0,-3.3,96.25,0.0,0,NaN,0.0,...,1009.5,1.6,12.4,0.0,0.0,0,10.0,Clear,clear-night,"03212099999,D2342,03225099999,03162099999,0322..."

In [34]:
# All Weather data put together
carlisle_total = pd.concat([carlisle_1, carlisle_2, carlisle_3], ignore_index = True)

In [35]:
carlisle_total.columns = carlisle_total.columns.str.capitalize()

In [36]:
carlisle_total = carlisle_total.rename(columns = {"Name":"Location"})

### i. Dealing with missing values

In [37]:
carlisle_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121968 entries, 0 to 121967
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Location          121968 non-null  object
 1   Datetime          121968 non-null  object
 2   Temp              121968 non-null  float64
 3   Feelslike         121968 non-null  float64
 4   Dew               121968 non-null  float64
 5   Humidity          121968 non-null  float64
 6   Precip            121968 non-null  float64
 7   Precipprob        121968 non-null  int64
 8   Preciptype        17435 non-null   object
 9   Snow              121836 non-null  float64
 10  Snowdepth         121836 non-null  float64
 11  Windgust          40482 non-null   float64
 12  Windspeed         121968 non-null  float64
 13  Winddir           121968 non-null  float64
 14  Sealevelpressure  121721 non-null  float64
 15  Cloudcover        121968 non-null  float64
 16  Visibility        121836 non-null  float64
 17  Solarradiation    121968 non-null  float64
 18  Solarenergy       121968 non-null  float64
 19  Uvindex           121968 non-null  int64
 20  Severerisk        16548 non-null   float64
 21  Conditions        121968 non-null  object
 22  Icon              121968 non-null  object
 23  Stations          121968 non-null  object
dtypes: float64(16), int64(2), object(6)
memory usage: 22.3+ MB

In [38]:
# Dropping categorical variables and probabilities
carlisle_total.drop(columns=["Stations", "Icon", "Conditions", "Preciptype", "Precipprob"], inplace = True)
carlisle_total

,Location,Datetime,Temp,Feelslike,Dew,Humidity,Precip,Snow,Snowdepth,Windgust,Windspeed,Winddir,Sealevelpressure,Cloudcover,Visibility,Solarradiation,Solarenergy,Uvindex,Severerisk
0,carlisle,2010-01-01T00:00:00,-2.8,-7.4,-2.9,99.03,0.0,0.17,18.67,NaN,13.1,300.0,1008.5,30.5,26.9,0.0,0.0,0,NaN
1,carlisle,2010-01-01T01:00:00,-2.3,-6.5,-2.6,97.63,0.0,0.17,18.83,NaN,11.9,332.0,1008.4,11.7,24.6,0.0,0.0,0,NaN
2,carlisle,2010-01-01T02:00:00,0.1,-3.8,0.0,99.62,0.0,0.17,19.00,NaN,12.6,353.0,1008.0,87.7,3.4,0.0,0.0,0,NaN
3,carlisle,2010-01-01T03:00:00,-0.2,-3.6,-0.4,98.26,0.0,0.17,19.17,NaN,10.4,16.0,1008.0,88.7,25.8,0.0,0.0,0,NaN
4,carlisle,2010-01-01T04:00:00,-1.0,-4.4,-1.2,98.19,0.0,0.17,19.33,NaN,9.7,288.0,1007.8,12.1,25.6,0.0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121963,carlisle,2023-11-30T19:00:00,-1.0,-3.4,-1.9,93.31,0.0,0.00,0.10,9.9,6.7,8.0,1008.8,2.6,30.8,0.0,0.0,0,10.0
121964,carlisle,2023-11-30T20:00:00,-1.2,-3.2,-1.9,94.79,0.0,0.00,0.10,8.7,5.5,9.0,1009.1,1.7,35.8,0.0,0.0,0,10.0
121965,carlisle,2023-11-30T21:00:00,-1.7,-3.7,-2.5,94.18,0.0,0.00,0.10,8.5,5.4,359.0,1009.3,0.8,25.5,0.0,0.0,0,10.0
121966,carlisle,2023-11-30T22:00:00,-2.0,-2.0,-2.7,94.93,0.0,0.00,0.10,5.4,2.8,357.0,1009.3,2.6,18.6,0.0,0.0,0,10.0
121967,carlisle,2023-11-30T23:00:00,-2.7,-5.0,-3.3,96.25,0.0,0.00,0.10,7.4,5.6,21.0,1009.5,1.6,12.4,0.0,0.0,0,10.0

In [39]:
carlisle_total[carlisle_total["Snow"].isna()].shape

(132, 19)

In [40]:
carlisle_total = carlisle_total[carlisle_total["Snow"].isna() != True]
carlisle_total

,Location,Datetime,Temp,Feelslike,Dew,Humidity,Precip,Snow,Snowdepth,Windgust,Windspeed,Winddir,Sealevelpressure,Cloudcover,Visibility,Solarradiation,Solarenergy,Uvindex,Severerisk
0,carlisle,2010-01-01T00:00:00,-2.8,-7.4,-2.9,99.03,0.0,0.17,18.67,NaN,13.1,300.0,1008.5,30.5,26.9,0.0,0.0,0,NaN
1,carlisle,2010-01-01T01:00:00,-2.3,-6.5,-2.6,97.63,0.0,0.17,18.83,NaN,11.9,332.0,1008.4,11.7,24.6,0.0,0.0,0,NaN
2,carlisle,2010-01-01T02:00:00,0.1,-3.8,0.0,99.62,0.0,0.17,19.00,NaN,12.6,353.0,1008.0,87.7,3.4,0.0,0.0,0,NaN
3,carlisle,2010-01-01T03:00:00,-0.2,-3.6,-0.4,98.26,0.0,0.17,19.17,NaN,10.4,16.0,1008.0,88.7,25.8,0.0,0.0,0,NaN
4,carlisle,2010-01-01T04:00:00,-1.0,-4.4,-1.2,98.19,0.0,0.17,19.33,NaN,9.7,288.0,1007.8,12.1,25.6,0.0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121963,carlisle,2023-11-30T19:00:00,-1.0,-3.4,-1.9,93.31,0.0,0.00,0.10,9.9,6.7,8.0,1008.8,2.6,30.8,0.0,0.0,0,10.0
121964,carlisle,2023-11-30T20:00:00,-1.2,-3.2,-1.9,94.79,0.0,0.00,0.10,8.7,5.5,9.0,1009.1,1.7,35.8,0.0,0.0,0,10.0
121965,carlisle,2023-11-30T21:00:00,-1.7,-3.7,-2.5,94.18,0.0,0.00,0.10,8.5,5.4,359.0,1009.3,0.8,25.5,0.0,0.0,0,10.0
121966,carlisle,2023-11-30T22:00:00,-2.0,-2.0,-2.7,94.93,0.0,0.00,0.10,5.4,2.8,357.0,1009.3,2.6,18.6,0.0,0.0,0,10.0
121967,carlisle,2023-11-30T23:00:00,-2.7,-5.0,-3.3,96.25,0.0,0.00,0.10,7.4,5.6,21.0,1009.5,1.6,12.4,0.0,0.0,0,10.0

In [41]:
carlisle_total[carlisle_total["Snowdepth"].isna()].shape

(0, 19)

In [42]:
carlisle_total["Windgust"] = carlisle_total["Windgust"].fillna(0)
carlisle_total

C:\Users\komen\AppData\Local\Temp\ipykernel_9908\4079596869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carlisle_total["Windgust"] = carlisle_total["Windgust"].fillna(0)

,Location,Datetime,Temp,Feelslike,Dew,Humidity,Precip,Snow,Snowdepth,Windgust,Windspeed,Winddir,Sealevelpressure,Cloudcover,Visibility,Solarradiation,Solarenergy,Uvindex,Severerisk
0,carlisle,2010-01-01T00:00:00,-2.8,-7.4,-2.9,99.03,0.0,0.17,18.67,0.0,13.1,300.0,1008.5,30.5,26.9,0.0,0.0,0,NaN
1,carlisle,2010-01-01T01:00:00,-2.3,-6.5,-2.6,97.63,0.0,0.17,18.83,0.0,11.9,332.0,1008.4,11.7,24.6,0.0,0.0,0,NaN
2,carlisle,2010-01-01T02:00:00,0.1,-3.8,0.0,99.62,0.0,0.17,19.00,0.0,12.6,353.0,1008.0,87.7,3.4,0.0,0.0,0,NaN
3,carlisle,2010-01-01T03:00:00,-0.2,-3.6,-0.4,98.26,0.0,0.17,19.17,0.0,10.4,16.0,1008.0,88.7,25.8,0.0,0.0,0,NaN
4,carlisle,2010-01-01T04:00:00,-1.0,-4.4,-1.2,98.19,0.0,0.17,19.33,0.0,9.7,288.0,1007.8,12.1,25.6,0.0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121963,carlisle,2023-11-30T19:00:00,-1.0,-3.4,-1.9,93.31,0.0,0.00,0.10,9.9,6.7,8.0,1008.8,2.6,30.8,0.0,0.0,0,10.0
121964,carlisle,2023-11-30T20:00:00,-1.2,-3.2,-1.9,94.79,0.0,0.00,0.10,8.7,5.5,9.0,1009.1,1.7,35.8,0.0,0.0,0,10.0
121965,carlisle,2023-11-30T21:00:00,-1.7,-3.7,-2.5,94.18,0.0,0.00,0.10,8.5,5.4,359.0,1009.3,0.8,25.5,0.0,0.0,0,10.0
121966,carlisle,2023-11-30T22:00:00,-2.0,-2.0,-2.7,94.93,0.0,0.00,0.10,5.4,2.8,357.0,1009.3,2.6,18.6,0.0,0.0,0,10.0
121967,carlisle,2023-11-30T23:00:00,-2.7,-5.0,-3.3,96.25,0.0,0.00,0.10,7.4,5.6,21.0,1009.5,1.6,12.4,0.0,0.0,0,10.0

In [43]:
carlisle_total.drop(columns = ["Severerisk", "Uvindex", "Solarenergy"], inplace = True)

C:\Users\komen\AppData\Local\Temp\ipykernel_9908\594377348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carlisle_total.drop(columns = ["Severerisk", "Uvindex", "Solarenergy"], inplace = True)

In [44]:
carlisle_total

,Location,Datetime,Temp,Feelslike,Dew,Humidity,Precip,Snow,Snowdepth,Windgust,Windspeed,Winddir,Sealevelpressure,Cloudcover,Visibility,Solarradiation
0,carlisle,2010-01-01T00:00:00,-2.8,-7.4,-2.9,99.03,0.0,0.17,18.67,0.0,13.1,300.0,1008.5,30.5,26.9,0.0
1,carlisle,2010-01-01T01:00:00,-2.3,-6.5,-2.6,97.63,0.0,0.17,18.83,0.0,11.9,332.0,1008.4,11.7,24.6,0.0
2,carlisle,2010-01-01T02:00:00,0.1,-3.8,0.0,99.62,0.0,0.17,19.00,0.0,12.6,353.0,1008.0,87.7,3.4,0.0
3,carlisle,2010-01-01T03:00:00,-0.2,-3.6,-0.4,98.26,0.0,0.17,19.17,0.0,10.4,16.0,1008.0,88.7,25.8,0.0
4,carlisle,2010-01-01T04:00:00,-1.0,-4.4,-1.2,98.19,0.0,0.17,19.33,0.0,9.7,288.0,1007.8,12.1,25.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121963,carlisle,2023-11-30T19:00:00,-1.0,-3.4,-1.9,93.31,0.0,0.00,0.10,9.9,6.7,8.0,1008.8,2.6,30.8,0.0
121964,carlisle,2023-11-30T20:00:00,-1.2,-3.2,-1.9,94.79,0.0,0.00,0.10,8.7,5.5,9.0,1009.1,1.7,35.8,0.0
121965,carlisle,2023-11-30T21:00:00,-1.7,-3.7,-2.5,94.18,0.0,0.00,0.10,8.5,5.4,359.0,1009.3,0.8,25.5,0.0
121966,carlisle,2023-11-30T22:00:00,-2.0,-2.0,-2.7,94.93,0.0,0.00,0.10,5.4,2.8,357.0,1009.3,2.6,18.6,0.0
121967,carlisle,2023-11-30T23:00:00,-2.7,-5.0,-3.3,96.25,0.0,0.00,0.10,7.4,5.6,21.0,1009.5,1.6,12.4,0.0

In [45]:
carlisle_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121836 entries, 0 to 121967
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Location          121836 non-null  object
 1   Datetime          121836 non-null  object
 2   Temp              121836 non-null  float64
 3   Feelslike         121836 non-null  float64
 4   Dew               121836 non-null  float64
 5   Humidity          121836 non-null  float64
 6   Precip            121836 non-null  float64
 7   Snow              121836 non-null  float64
 8   Snowdepth         121836 non-null  float64
 9   Windgust          121836 non-null  float64
 10  Windspeed         121836 non-null  float64
 11  Winddir           121836 non-null  float64
 12  Sealevelpressure  121721 non-null  float64
 13  Cloudcover        121836 non-null  float64
 14  Visibility        121836 non-null  float64
 15  Solarradiation    121836 non-null  float64
dtypes: float64(14), object(2)
memory usage: 15.8+ MB

# 3. Data selection and Pre-processing

## 3.1.  Preparing outage data

In [46]:
# Removing all the exceptional events
hv_data_red2 = hv_data_red1
hv_data_red2

,Year,Location,Datetime,Direct Cause,Direct Cause Category,Duration,Exceptional Event ID,Exceptional Event Start Date,Exceptional Event EndDate,Customer Affected
0,1984,Manchester,1984-04-01T06:30:00,Wind and Gale (excluding Windborne Material),Weather and Environment,450,0,NaN,NaN,0
1,1984,Manchester,1984-04-03T08:00:00,Deterioration due to Ageing or Wear (excluding...,Companies,432,0,NaN,NaN,0
2,1984,Manchester,1984-04-11T19:13:00,Lightning,Weather and Environment,857,0,NaN,NaN,0
3,1984,Manchester,1984-04-11T19:13:00,Lightning,Weather and Environment,1447,0,NaN,NaN,0
4,1984,Manchester,1984-04-11T21:40:00,Extension of Fault Zone due to Fault Switching...,Companies,35,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
84815,2021,Ashton,2021-06-17T23:26:00,Unsuitable Paralleling Conditions,Companies,1,0,NaN,NaN,22636
84816,2021,Ashton,2021-11-27T01:55:00,Wind and Gale (excluding Windborne Material),Weather and Environment,10740,41,2021-11-26T18:00:00,2021-12-09T12:00:00,1
84817,2021,Ashton,2021-11-27T03:00:00,Wind and Gale (excluding Windborne Material),Weather and Environment,323,41,2021-11-26T18:00:00,2021-12-09T12:00:00,1
84818,2022,Bolton,2022-11-01T09:27:00,Birds (including Swans and Geese),"Birds, Animals and Insects",1,0,NaN,NaN,10146
84819,2022,Carlisle,2022-06-26T14:53:00,Unsuitable Protection Characteristics,Companies,1,0,NaN,NaN,47094

In [47]:
hv_data_red2 = hv_data_red2.drop(columns = ["Exceptional Event ID", "Exceptional Event Start Date","Direct Cause", 
                                            "Exceptional Event EndDate", "Duration", "Location", "Year", "Direct Cause Category",
                                            "Customer Affected"])[(hv_data_red2["Year"]>=2010) & 
                                                                          (hv_data_red2["Location"] == "Carlisle") &
                                                                          (hv_data_red2["Direct Cause Category"] == "Weather and Environment")]
hv_data_red2

                  Datetime
54819  2010-10-27T20:00:00
54828  2010-04-03T12:53:00
54829  2010-04-03T19:44:00
54837  2010-04-11T19:11:00
54841  2010-04-15T11:14:00
...                    ...
84688  2023-10-20T15:23:00
84694  2023-10-20T17:17:00
84700  2023-10-26T21:13:00
84725  2023-11-01T12:05:00
84727  2023-11-05T08:55:00

[2167 rows x 1 columns]

In [48]:
hv_data_red2["Datetime"] = pd.to_datetime(hv_data_red2["Datetime"])
hv_data_red2

                 Datetime
54819 2010-10-27 20:00:00
54828 2010-04-03 12:53:00
54829 2010-04-03 19:44:00
54837 2010-04-11 19:11:00
54841 2010-04-15 11:14:00
...                   ...
84688 2023-10-20 15:23:00
84694 2023-10-20 17:17:00
84700 2023-10-26 21:13:00
84725 2023-11-01 12:05:00
84727 2023-11-05 08:55:00

[2167 rows x 1 columns]

In [49]:
# Rounding the datetime data to their nearest hours 

hv_data_red2["Datetime"] = hv_data_red2["Datetime"].dt.round("H")

In [50]:
hv_data_red2["Outage"] = 1

In [51]:
hv_data_red2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2167 entries, 54819 to 84727
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2167 non-null   datetime64[ns]
 1   Outage    2167 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 50.8 KB

## 3.1. Merging of data and preprocessing

In [52]:
hv_data_red2

                 Datetime  Outage
54819 2010-10-27 20:00:00       1
54828 2010-04-03 13:00:00       1
54829 2010-04-03 20:00:00       1
54837 2010-04-11 19:00:00       1
54841 2010-04-15 11:00:00       1
...                   ...     ...
84688 2023-10-20 15:00:00       1
84694 2023-10-20 17:00:00       1
84700 2023-10-26 21:00:00       1
84725 2023-11-01 12:00:00       1
84727 2023-11-05 09:00:00       1

[2167 rows x 2 columns]

In [53]:
carlisle_total

,Location,Datetime,Temp,Feelslike,Dew,Humidity,Precip,Snow,Snowdepth,Windgust,Windspeed,Winddir,Sealevelpressure,Cloudcover,Visibility,Solarradiation
0,carlisle,2010-01-01T00:00:00,-2.8,-7.4,-2.9,99.03,0.0,0.17,18.67,0.0,13.1,300.0,1008.5,30.5,26.9,0.0
1,carlisle,2010-01-01T01:00:00,-2.3,-6.5,-2.6,97.63,0.0,0.17,18.83,0.0,11.9,332.0,1008.4,11.7,24.6,0.0
2,carlisle,2010-01-01T02:00:00,0.1,-3.8,0.0,99.62,0.0,0.17,19.00,0.0,12.6,353.0,1008.0,87.7,3.4,0.0
3,carlisle,2010-01-01T03:00:00,-0.2,-3.6,-0.4,98.26,0.0,0.17,19.17,0.0,10.4,16.0,1008.0,88.7,25.8,0.0
4,carlisle,2010-01-01T04:00:00,-1.0,-4.4,-1.2,98.19,0.0,0.17,19.33,0.0,9.7,288.0,1007.8,12.1,25.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121963,carlisle,2023-11-30T19:00:00,-1.0,-3.4,-1.9,93.31,0.0,0.00,0.10,9.9,6.7,8.0,1008.8,2.6,30.8,0.0
121964,carlisle,2023-11-30T20:00:00,-1.2,-3.2,-1.9,94.79,0.0,0.00,0.10,8.7,5.5,9.0,1009.1,1.7,35.8,0.0
121965,carlisle,2023-11-30T21:00:00,-1.7,-3.7,-2.5,94.18,0.0,0.00,0.10,8.5,5.4,359.0,1009.3,0.8,25.5,0.0
121966,carlisle,2023-11-30T22:00:00,-2.0,-2.0,-2.7,94.93,0.0,0.00,0.10,5.4,2.8,357.0,1009.3,2.6,18.6,0.0
121967,carlisle,2023-11-30T23:00:00,-2.7,-5.0,-3.3,96.25,0.0,0.00,0.10,7.4,5.6,21.0,1009.5,1.6,12.4,0.0

In [54]:
carlisle_total["Datetime"] = pd.to_datetime(carlisle_total["Datetime"])

C:\Users\komen\AppData\Local\Temp\ipykernel_9908\3673909025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carlisle_total["Datetime"] = pd.to_datetime(carlisle_total["Datetime"])

In [55]:
merged_data = pd.merge(carlisle_total, hv_data_red2, on="Datetime", how="left")

In [56]:
merged_data["Outage"] = merged_data["Outage"].fillna(0)

In [57]:
merged_data.head()

,Location,Datetime,Temp,Feelslike,Dew,Humidity,Precip,Snow,Snowdepth,Windgust,Windspeed,Winddir,Sealevelpressure,Cloudcover,Visibility,Solarradiation,Outage
0,carlisle,2010-01-01 00:00:00,-2.8,-7.4,-2.9,99.03,0.0,0.17,18.67,0.0,13.1,300.0,1008.5,30.5,26.9,0.0,0.0
1,carlisle,2010-01-01 01:00:00,-2.3,-6.5,-2.6,97.63,0.0,0.17,18.83,0.0,11.9,332.0,1008.4,11.7,24.6,0.0,0.0
2,carlisle,2010-01-01 02:00:00,0.1,-3.8,0.0,99.62,0.0,0.17,19.00,0.0,12.6,353.0,1008.0,87.7,3.4,0.0,0.0
3,carlisle,2010-01-01 03:00:00,-0.2,-3.6,-0.4,98.26,0.0,0.17,19.17,0.0,10.4,16.0,1008.0,88.7,25.8,0.0,0.0
4,carlisle,2010-01-01 04:00:00,-1.0,-4.4,-1.2,98.19,0.0,0.17,19.33,0.0,9.7,288.0,1007.8,12.1,25.6,0.0,0.0

In [58]:
merged_data["Outage"] = merged_data["Outage"].astype("int")

In [59]:
merged_data_final = merged_data.drop(columns = ["Datetime", "Location", "Feelslike", "Dew", "Visibility", "Snow"])
merged_data_final

,Temp,Humidity,Precip,Snowdepth,Windgust,Windspeed,Winddir,Sealevelpressure,Cloudcover,Solarradiation,Outage
0,-2.8,99.03,0.0,18.67,0.0,13.1,300.0,1008.5,30.5,0.0,0
1,-2.3,97.63,0.0,18.83,0.0,11.9,332.0,1008.4,11.7,0.0,0
2,0.1,99.62,0.0,19.00,0.0,12.6,353.0,1008.0,87.7,0.0,0
3,-0.2,98.26,0.0,19.17,0.0,10.4,16.0,1008.0,88.7,0.0,0
4,-1.0,98.19,0.0,19.33,0.0,9.7,288.0,1007.8,12.1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
122305,-1.0,93.31,0.0,0.10,9.9,6.7,8.0,1008.8,2.6,0.0,0
122306,-1.2,94.79,0.0,0.10,8.7,5.5,9.0,1009.1,1.7,0.0,0
122307,-1.7,94.18,0.0,0.10,8.5,5.4,359.0,1009.3,0.8,0.0,0
122308,-2.0,94.93,0.0,0.10,5.4,2.8,357.0,1009.3,2.6,0.0,0
122309,-2.7,96.25,0.0,0.10,7.4,5.6,21.0,1009.5,1.6,0.0,0

In [60]:
merged_data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122310 entries, 0 to 122309
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Temp              122310 non-null  float64
 1   Humidity          122310 non-null  float64
 2   Precip            122310 non-null  float64
 3   Snowdepth         122310 non-null  float64
 4   Windgust          122310 non-null  float64
 5   Windspeed         122310 non-null  float64
 6   Winddir           122310 non-null  float64
 7   Sealevelpressure  122193 non-null  float64
 8   Cloudcover        122310 non-null  float64
 9   Solarradiation    122310 non-null  float64
 10  Outage            122310 non-null  int32
dtypes: float64(10), int32(1)
memory usage: 9.8 MB

In [61]:
merged_data_final = merged_data_final.dropna(subset=["Sealevelpressure"])

In [62]:
merged_data_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 122193 entries, 0 to 122309
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Temp              122193 non-null  float64
 1   Humidity          122193 non-null  float64
 2   Precip            122193 non-null  float64
 3   Snowdepth         122193 non-null  float64
 4   Windgust          122193 non-null  float64
 5   Windspeed         122193 non-null  float64
 6   Winddir           122193 non-null  float64
 7   Sealevelpressure  122193 non-null  float64
 8   Cloudcover        122193 non-null  float64
 9   Solarradiation    122193 non-null  float64
 10  Outage            122193 non-null  int32
dtypes: float64(10), int32(1)
memory usage: 10.7 MB

In [81]:
# This shows that we have a really unbalanced dataset
merged_data["Outage"].value_counts(normalize=True)

Outage
0    0.982291
1    0.017709
Name: proportion, dtype: float64

In [64]:
merged_data_final.to_csv("merged_data_final.csv", index=False)

# Quick EDA

### More general stuff

In [65]:
hv_data_red1.groupby("Location")["Location"].count().sort_values(ascending = False)

Location
Carlisle        20458
Kendal          17207
Preston         13153
Ashton          11818
Bolton          10230
Blackburn        6449
Manchester       3397
Stockport        2016
Manchester N       53
Name: Location, dtype: int64

In [66]:
hv_data_red1.groupby("Direct Cause Category")["Direct Cause Category"].count().sort_values(ascending = False)

Direct Cause Category
Companies                     29510
Weather and Environment       22255
Unclassified or Unknown       21252
Third Party                    7850
Birds, Animals and Insects     3739
Generating Company or NGC       175
Name: Direct Cause Category, dtype: int64

In [67]:
hv_data_red1[(hv_data_red1["Year"]<=2023) & (hv_data_red1["Year"]>=2010) & (hv_data_red1["Direct Cause Category"] == "Weather and Environment") | (hv_data_red1["Exceptional Event ID"] != 0)].groupby("Location")["Location"].count().sort_values(ascending = False)

Location
Carlisle      2324
Kendal        1956
Ashton        1009
Preston        875
Bolton         589
Blackburn      585
Manchester     103
Stockport       89
Name: Location, dtype: int64

In [68]:
hv_data_red1[(hv_data_red1["Year"]<=2023) & (hv_data_red1["Year"]>=2010) & (hv_data_red1["Exceptional Event ID"] != 0)].groupby('Direct Cause')['Direct Cause'].count().sort_values(ascending = False)

Direct Cause
Wind and Gale (excluding Windborne Material)                                  1865
Flooding                                                                       208
Lightning                                                                       72
Transient Fault - No Repair                                                     71
Snow, Sleet and Blizzard                                                        56
Cause Unknown                                                                   30
Solar Heat                                                                      17
Operational or Safety Restriction                                               13
Extension of Fault Zone due to Fault Switching (including ASC held faults)       7
Causes Unclassified in this Table                                                5
by Private Developers or their Contractors                                       4
Rain                                                                             3
Unsuitable Paralleling Conditions                                                1
Airborne Deposits (excluding Windborne Material)                                 1
Growing or Falling Trees (not felled)                                            1
Fault on Equipment Faulting Adjacent Equipment                                   1
Deterioration due to Ageing or Wear (excluding corrosion)                        1
by Water/Sewage Company or their Contractors                                     1
Name: Direct Cause, dtype: int64

In [69]:
hv_data_red1[(hv_data_red1["Year"]<=2023) & (hv_data_red1["Year"]>=2010) & (hv_data_red1["Direct Cause Category"] == "Weather and Environment")].groupby('Direct Cause')['Direct Cause'].count().sort_values(ascending = False)

Direct Cause
Wind and Gale (excluding Windborne Material)        3645
Lightning                                            684
Corrosion                                            546
Growing or Falling Trees (not felled)                456
Falling live trees (not felled)                      324
Growing Trees                                        248
Flooding                                             238
Snow, Sleet and Blizzard                             181
Windborne Materials                                  150
Mechanical Shock or Vibration                        126
Rain                                                  92
Solar Heat                                            75
Fire not due to Faults                                70
Falling dead tree                                     55
Ground Subsidence                                     35
Corrosion due to atmosphere/ environment              35
Airborne Deposits (excluding Windborne Material)      34
Ice                                                   16
Condensation                                          11
Freezing Fog and Frost                                 5
Disruption of Intended Indoor Environment              3
Name: Direct Cause, dtype: int64

### Interesting stuff on exceptional events

In [27]:
hv_132["Exceptional Event ID"].value_counts()

Exceptional Event ID
0     80
33     3
35     2
41     2
32     1
31     1
Name: count, dtype: int64

In [33]:
hv_data_red1[(hv_data_red1["Year"]<=2019) & (hv_data_red1["Year"]>=2010)][hv_data_red1["Exceptional Event ID"] != 0][["Exceptional Event ID", "Exceptional Event Start Date", "Exceptional Event EndDate"]]

C:\Users\komen\AppData\Local\Temp\ipykernel_26796\9164814.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  hv_data_red1[(hv_data_red1["Year"]<=2019) & (hv_data_red1["Year"]>=2010)][hv_data_red1["Exceptional Event ID"] != 0][["Exceptional Event ID", "Exceptional Event Start Date", "Exceptional Event EndDate"]]

,Exceptional Event ID,Exceptional Event Start Date,Exceptional Event EndDate
53023,25,2010-11-11T12:25:00,2010-11-15T12:42:00
53024,25,2010-11-11T12:25:00,2010-11-15T12:42:00
53273,25,2010-11-11T12:25:00,2010-11-15T12:42:00
53274,25,2010-11-11T12:25:00,2010-11-15T12:42:00
53275,25,2010-11-11T12:25:00,2010-11-15T12:42:00
...,...,...,...
84799,33,2016-07-19T10:13:00,2016-09-14T20:10:00
84802,33,2016-07-19T10:13:00,2016-09-14T20:10:00
84803,33,2016-07-19T10:13:00,2016-09-14T20:10:00
84805,35,2017-06-21T11:30:00,2017-06-21T16:00:00
84806,35,2017-06-21T11:30:00,2017-06-21T16:00:00